################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Taki/bin/Debug/net8.0/Taki.dll
/Taki/bin/Debug/net8.0/Taki.exe
/Taki/bin/Debug/net8.0/Taki.pdb
/Taki/obj/Debug/net8.0/ref/Taki.dll
/Taki/obj/Debug/net8.0/apphost.exe
/Taki/obj/Debug/net8.0/Taki.AssemblyInfo.cs
/Taki/obj/Debug/net8.0/Taki.AssemblyInfoInputs.cache
/Taki/obj/Debug/net8.0/Taki.assets.cache
/Taki/obj/Debug/net8.0/Taki.csproj.FileListAbsolute.txt
/Taki/obj/Debug/net8.0/Taki.dll
/Taki/obj/Debug/net8.0/Taki.GeneratedMSBuildEditorConfig.editorconfig
/Taki/obj/Debug/net8.0/Taki.genruntimeconfig.cache
/Taki/obj/Debug/net8.0/Taki.pdb
*.json
/Taki/obj/project.assets.json
/Taki/obj/project.nuget.cache
/Taki/obj/Taki.csproj.nuget.dgspec.json
/Taki/obj/Debug/net8.0/refint/Taki.dll
/Taki/obj/Debug/net8.0/Taki.csproj.CoreCompileInputs.cache
/Taki/bin/Debug/net8.0/runtimes/win/lib/net8.0
/Taki/bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
/Taki/bin/Debug/net8.0/System.Diagnostics.EventLog.dll
/Taki/bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
/Taki/bin/Debug/net8.0/Taki.deps.json
/Taki/bin/Debug/net8.0/Taki.dll.config
/Taki/obj/Debug/net8.0/Taki.csproj.AssemblyReference.cache
/Taki/bin/Debug/net8.0/runtimes/linux/native/libmongocrypt.so
/Taki/bin/Debug/net8.0/runtimes/osx/native/libmongocrypt.dylib
/Taki/bin/Debug/net8.0
